button {
  width: 80px;
  height: 30px;
  padding: 2px;
  margin-right: 10px;
  border-radius: 25px 25px;
  margin-bottom: 20px;

}

.next, .previous {
  color: rgb(17, 71, 102);
  padding: 2%;
  border-radius: 20px;
  cursor: pointer;
}