ul {
  padding-left: 0;
  margin: 0;
}

.user_setting {
  
}

.menu_list {
  background-color: rgb(17, 71, 102);
  height: 100vh;
  min-width: 200px;
}

.menu_list a {
  color: white;
}
.user_setting a, .menu_list a{
  text-decoration: none;
}

.user_setting li, .menu_list li {
  list-style: none;
  padding: 10px;
}

.user_setting li:hover, .menu_list li:hover{
  background-color: rgb(17, 71, 102);
  color: white;
}
li {
  list-style: none;
}