<h1>About the Creator</h1>

<h3>Our Story</h3>
<p>Birthday News was created by having a curiosity of knowing which pieces of history were taking place when we turn one year older.</p>
<p>It's nice to re-learn what was going on certain years during your birthday.</p>
<p>All News Information was provide by the <a href="https://www.nytimes.com/">New York Times</a></p>

<h3>Hansol Kim</h3>
<img src="" alt="">
<p>CEO</p>
<a href="https://github.com/HansolK">GitHub</a>

<h3>Lena Seol</h3>
<img src="" alt="">
<p>CTO</p>
<a href="https://github.com/lenaone">GitHub</a>

<h3>Daniel Marroquín</h3>
<img src="" alt="">
<p>Monkey</p>
<a href="https://github.com/roqdraw">GitHub</a>

<p>Assembled at <a href="https://generalassemb.ly/?&where=melbourne&topic=&mkt_account_id=1056949875&mkt_campaign_id=691768967&mkt_ad_group_id=36416209100&mkt_device_type=c&mkt_keyword=general%20assembly&mkt_matchtype=e&mkt_placement=&mkt_ad_id=155687927170&mkt_network=g&mkt_target_id=kwd-459322816&mkt_feed_item_id=&utm_source=google&utm_medium=paid-search-bra&utm_campaign=TS:TX:BRA:MEL:BR:GeneralAssembly&utm_content=campus-lead-lander&utm_term=general%20assembly&gclid=Cj0KCQiAwc7jBRD8ARIsAKSUBHLOGunSIC1ott_LTVNR2-eSc3lzXh93mLj7zxTo8M9Zshc6XG9O0eIaAkvNEALw_wcB"></a>
General Assembly Melbourne.</p>