<div class="categories">
  <button>business</button>
  <button>education</button>
  <button>opinion</button>
  <button>foreign</button>
</div>

<div class="article_content">
  <h2></h2>
  <p class="date"></p>
  <p class="result"></p>
  <p class="next">Next Year</p>
  <p class="previous">Previous Year</p>
</div>


<script>
const categories = document.querySelector('.categories')
const articleContent = document.querySelector('.article_content')
const result = document.querySelector('.result')
const title = document.querySelector('h2')
const publishedDate = document.querySelector('.date')
const nextBtn = document.querySelector('.next')
const previousBtn = document.querySelector('.previous')
const birthYear = <%=@year%>;
let year = <%=@year%>;
let month = <%=@month%>;
let day = <%=@day%>;

const url = `https://api.nytimes.com/svc/search/v2/articlesearch.json?q=election&fq=pub_date:${year}-${month}-${day}&api-key=hcavVguDcMCwQAflmDvkfZTwMLQDd6pp`

function getArticle(url) {
  fetch(url)
  .then(res => res.json())
  .then(data => {
    title.textContent = data.response.docs[0].headline.main
    result.textContent = data.response.docs[0].lead_paragraph
    publishedDate.textContent = data.response.docs[0].pub_date.slice(0,10).replace(/-/g, " ") 
  })
}

getArticle(url)

function differentCategory(e) {
  const url = `https://api.nytimes.com/svc/search/v2/articlesearch.json?q=${e.target.textContent}&fq=pub_date:${birthYear}-${month}-${day}&api-key=hcavVguDcMCwQAflmDvkfZTwMLQDd6pp`
  getArticle(url)
}

function previousPage(e) {
  year -= 1
  const url = `https://api.nytimes.com/svc/search/v2/articlesearch.json?q=election&fq=pub_date:${year}-${month}-${day}&api-key=hcavVguDcMCwQAflmDvkfZTwMLQDd6pp`
   fetch(url)
  .then(res => res.json())
  .then(data => {
    title.textContent = data.response.docs[0].headline.main
    result.textContent = data.response.docs[0].lead_paragraph
    publishedDate.textContent = data.response.docs[0].pub_date.slice(0,10).replace(/-/g, " ") 
  })
}

function nextPage(e) {
  year += 1
  const url = `https://api.nytimes.com/svc/search/v2/articlesearch.json?q=election&fq=pub_date:${year}-${month}-${day}&api-key=hcavVguDcMCwQAflmDvkfZTwMLQDd6pp`
   fetch(url)
  .then(res => res.json())
  .then(data => {
    title.textContent = data.response.docs[0].headline.main
    result.textContent = data.response.docs[0].lead_paragraph
    publishedDate.textContent = data.response.docs[0].pub_date.slice(0,10).replace(/-/g, " ") 
  })
}

nextBtn.addEventListener('click', nextPage)
previousBtn.addEventListener('click', previousPage)
categories.addEventListener('click', differentCategory)

</script>
