<div class="categories">
  <button>business</button>
  <button>education</button>
  <button>opinion</button>
  <button>foreign</button>
</div>

<div class="article_content">
  <h2></h2> 
  <form action="/articles/bookmarks" method="post">
    <input class="title_inputs" type="hidden" name="article_id"/>
    <input class="folder_name" type="hidden" name="folder_name"/>
    <i class="hidden fas fa-birthday-cake fa-2x"></i>
  </form>
  <p class="date"></p>
  <p class="result"></p>
  <p class="next hidden">Next Year</p>
  <p class="previous hidden">Previous Year</p>
</div>


<script>
const icon = document.querySelector('.article_content i')

const categories = document.querySelector('.categories')
const articleContent = document.querySelector('.article_content')
const input = document.querySelector('.article_content input')
const result = document.querySelector('.result')
const title = document.querySelector('h2')
const publishedDate = document.querySelector('.date')
const nextBtn = document.querySelector('.next')
const previousBtn = document.querySelector('.previous')

const birthYear = <%=@year%>;
const currentYear = new Date().getFullYear()
const selectedDate = new Date()
selectedDate.setMonth(<%=@month%> -1)
selectedDate.setDate(<%=@day%>)

function getArticle(category) {
  fetch(`https://api.nytimes.com/svc/search/v2/articlesearch.json?q=${category}&fq=pub_date:${selectedDate.getFullYear()}-${selectedDate.getMonth() + 1}-${selectedDate.getDate()}&api-key=hcavVguDcMCwQAflmDvkfZTwMLQDd6pp`)
  .then(res => res.json())
  .then(data => {
    console.log(data)
    icon.classList.remove('hidden')
    const nextDate = new Date(selectedDate).setYear(selectedDate.getFullYear() + 1)
    
    
    if(nextDate > new Date() ) {
      nextBtn.classList.add('hidden')
    } else {
      nextBtn.classList.remove('hidden')
    }
    if (selectedDate.getFullYear() === birthYear) {
      previousBtn.classList.add('hidden')
    } else {
      previousBtn.classList.remove('hidden')
    } 
  
    if(data === []) {
      result.textContent = "Sorry, We cannot find any articles for this year!"
      return
    }
    
    num = 0
    if(data.response.docs[num].lead_paragraph === undefined) {
      result.textContent = data.response.docs[num+=1].lead_paragraph 
    } else {
      console.log(data.response.docs[num].lead_paragraph)
      result.textContent = data.response.docs[num].lead_paragraph
    }
    title.textContent = data.response.docs[num].headline.main
    input.value = data.response.docs[num]._id

    const anchor = document.createElement('a')
    anchor.setAttribute('href', data.response.docs[1].web_url)
    anchor.textContent = "[...]"
    result.appendChild(anchor)
    publishedDate.textContent = data.response.docs[1].pub_date.slice(0,10).replace(/-/g, " ")
  })
}

if(selectedDate > new Date()) {
  selectedDate.setYear(selectedDate.getFullYear()-1)
  getArticle("election")
} else {
  getArticle("election")
}


function differentCategory(e) {
  getArticle(e.target.textContent)
}


function previousPage(e) {
  if(selectedDate.getFullYear() === birthYear) {
    return
  }
  selectedDate.setYear(selectedDate.getFullYear() - 1)
  getArticle("election")
}

function nextPage(e) {
  if(selectedDate.getFullYear() === currentYear) {
    return
  }
  selectedDate.setYear(selectedDate.getFullYear() + 1)
  getArticle("election")
}

function saveToBookmark(e) {
  e.preventDefault()
  const promptValue = prompt("Please enter the folder name", "ex)Grandma")
  let folderName = document.querySelector('.article_content .folder_name')
  if(promptValue === null) {
    return
  }
  folderName.value = promptValue
  
  const bookmarkForm = document.querySelector('.article_content form')
  bookmarkForm.submit()
}

nextBtn.addEventListener('click', nextPage)
previousBtn.addEventListener('click', previousPage)
categories.addEventListener('click', differentCategory)
icon.addEventListener('click', saveToBookmark)
</script>
