
<div class="article_container">
</div>

<p class="next">Next Year</p>
<p class="previous">Previous Year</p>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    var articleContainer = document.querySelector('.article_container')
    var nextYearBtn = document.querySelector('.next')
    var previousYearBtn = document.querySelector('.previous')

    var birthYear = <%= @user.birth_year %>;
    var birthMonth = <%= @user.birth_month %>;
    var birthDay = <%= @user.birth_day %>;

    var date = new Date();
    var currentYear = date.getFullYear();
    var unchangeableYear = date.getFullYear();

    var userAge = currentYear - birthYear - 1;
    var yearsOfExistence = currentYear - birthYear;
    var counter = 0;

    var getArticles = () => {

        var getSingleArticle = res => {

            var damn = document.querySelector('.display-article')

            if ($(".display-article").parents(".article_container").length === 1) {
                articleContainer.removeChild(damn)
            }

            if (res.response.docs.length === 0) {
                console.log("Sorry, but your birthday hasn't hit yet this year!")
                console.log("Here's the previous birthday's news.")
                currentYear -= 1;
                unchangeableYear -= 1;
                getArticles()
            } else 

            var displayArticle = document.createElement('div');
            displayArticle.classList.add("display-article");
            articleContainer.appendChild(displayArticle);

            var firstArticle = res.response.docs[counter]
            var pub_date = firstArticle.pub_date;
            var dateSplit = pub_date.split('').splice(0,10).join('').split('-').join(' ')

            var articleTitle = document.createElement('h2');
            articleTitle.textContent = firstArticle.headline.main;
            displayArticle.appendChild(articleTitle);

            var articleDate = document.createElement('p');
            articleDate.textContent = dateSplit;
            displayArticle.appendChild(articleDate);

            var articleLink = document.createElement('a')
            articleLink.href = firstArticle.web_url
            articleLink.innerHTML = "..."

            var articleSummary = document.createElement('p');
            articleSummary.innerHTML = firstArticle.snippet.slice(0, -3) + ' ';
            articleSummary.appendChild(articleLink)
            displayArticle.appendChild(articleSummary);

            if (currentYear === unchangeableYear) {
                nextYearBtn.style.display = 'none'
                previousYearBtn.style.display = 'block'
            } else if (currentYear === birthYear) {
                console.log(currentYear, birthYear)
                previousYearBtn.style.display = 'none'
                nextYearBtn.style.display = 'block'
            } else {
                nextYearBtn.style.display = 'block'
                previousYearBtn.style.display = 'block'
            }
        }

        var options = {
            url: `https://api.nytimes.com/svc/search/v2/articlesearch.json?q=election&fq=pub_date:${currentYear}-${birthMonth}-${birthDay}&api-key=hcavVguDcMCwQAflmDvkfZTwMLQDd6pp`
        };

        $.ajax(options).done(getSingleArticle)
    }

    var getNextYear = function(e) {
        currentYear += 1;
        userAge += 1;
        if (userAge > yearsOfExistence) {
            currentYear -= 1;
            userAge -= 1;
            console.log("Don't time jump! The news hasn't been written yet!")
            e.preventDefault()
        } else 
            getArticles()
    }

    var getPreviousYear = function(e) {
        currentYear -= 1;
        userAge -= 1;
        if (userAge === -1) {
            currentYear += 1;
            userAge += 1;
            console.log("You weren't born yet!")
            e.preventDefault()
        } else 
            getArticles()
    }

    window.addEventListener('load', getArticles)
    nextYearBtn.addEventListener('click', getNextYear)
    previousYearBtn.addEventListener('click', getPreviousYear)

</script>