<div class="categories">
  <button>business</button>
  <button>education</button>
  <button>opinion</button>
  <button>foreign</button>
</div>

<div class="article_content">
  <h2></h2> 
  <i class="hidden fas fa-birthday-cake fa-2x"></i>
  <p class="date"></p>
  <p class="result"></p>
  <p class="next hidden">Next Year</p>
  <p class="previous hidden">Previous Year</p>
</div>


<script>
const icon = document.querySelector('.article_content i')
const categories = document.querySelector('.categories')
const articleContent = document.querySelector('.article_content')
const result = document.querySelector('.result')
const title = document.querySelector('h2')
const publishedDate = document.querySelector('.date')
const nextBtn = document.querySelector('.next')
const previousBtn = document.querySelector('.previous')

const birthYear = <%=@year%>;
const currentYear = new Date().getFullYear()
const defaultDate = new Date()
defaultDate.setMonth(<%=@month%> -1)
defaultDate.setDate(<%=@day%>)



function getArticle(category) {
  fetch(`https://api.nytimes.com/svc/search/v2/articlesearch.json?q=${category}&fq=pub_date:${defaultDate.getFullYear()}-${defaultDate.getMonth() + 1}-${defaultDate.getDate()}&api-key=hcavVguDcMCwQAflmDvkfZTwMLQDd6pp`)
  .then(res => res.json())
  .then(data => {
    icon.classList.remove('hidden')
    if (defaultDate.getFullYear() === currentYear) {
    nextBtn.classList.add('hidden')
    previousBtn.classList.remove('hidden')
  } else if (defaultDate.getFullYear() === birthYear) {
    previousBtn.classList.add('hidden')
    nextBtn.classList.remove('hidden')
  } else {
    nextBtn.classList.remove('hidden')
    previousBtn.classList.remove('hidden')
  }

    const anchor = document.createElement('a')
    anchor.setAttribute('href', data.response.docs[0].web_url)
    anchor.textContent = "[...]"
    result.appendChild(anchor)
    publishedDate.textContent = data.response.docs[0].pub_date.slice(0,10).replace(/-/g, " ") 
  })
}

if(defaultDate > new Date()) {
  defaultDate.setYear(defaultDate.getFullYear()-1)
  getArticle("election")
} else {
  getArticle("election")
}


function differentCategory(e) {
  getArticle(e.target.textContent)
}


function previousPage(e) {
  if(defaultDate.getFullYear() === birthYear) {
    return
  }
  defaultDate.setYear(defaultDate.getFullYear() - 1)
  getArticle("election")
}

function nextPage(e) {
  if(defaultDate.getFullYear() === currentYear) {
    return
  }
  defaultDate.setYear(defaultDate.getFullYear() + 1)
  getArticle("election")
}

nextBtn.addEventListener('click', nextPage)
previousBtn.addEventListener('click', previousPage)
categories.addEventListener('click', differentCategory)
icon.addEventListener('click', saveToBookmark)
</script>
