<div class="folders">

</div>
<div class="bookmark_wrapper">
</div>
<script>
let bookmarks = []; 

function getBookmarkArticles(e) {
  const bookmarkWrapper = document.querySelector('.bookmark_wrapper')
  bookmarkWrapper.innerHTML = ""
  fetch(`/api/articles/bookmarks/categories?guest_name=${e.target.value}`)
  .then(res => res.json())
  .then(data => {
    data.forEach(article => {
      const id = article.article_id
      fetch(`https://api.nytimes.com/svc/search/v2/articlesearch.json?fq=_id:${id}&api-key=EXHiMpBT0AdjyWCGX1Gbq7mygBVEMgfr&fbclid=IwAR1sRSz0MFrUI2-x6Vi5m6OlmSQzW2LcU8W_3aU0E3iHLx_z_PKmJCBJRWc`)
      .then(res => res.json())
      .then(data => {
        console.log(data)
        const articleContainer = document.createElement('div')
        const heading = document.createElement('h2')
        heading.textContent = data.response.docs[0].headline.main
        const date = document.createElement('p')
        date.textContent = data.response.docs[0].pub_date.slice(0, 10).replace(/-/g, " ")
        const para = document.createElement('p')
        para.textContent = data.response.docs[0].lead_paragraph
        const anchor = document.createElement('a')
        anchor.setAttribute('href', data.response.docs[0].web_url)
        anchor.textContent = "[...]"
        articleContainer.appendChild(heading)
        articleContainer.appendChild(date)
        articleContainer.appendChild(para)
        bookmarkWrapper.appendChild(articleContainer)
      })
    })
    

  })
}

fetch("/api/articles/bookmarks")
  .then(res => res.json())
  .then(data => {
    data.forEach(bookmark => {
      if(bookmarks.indexOf(bookmark.guest_name) === -1){
        bookmarks.push(bookmark.guest_name)
      }    
    })
    bookmarks.forEach(folderName => {
      const folders = document.querySelector('.folders') 
      const categoryBtn = document.createElement('button')
      categoryBtn.textContent = folderName
      categoryBtn.value = folderName    
      categoryBtn.addEventListener('click', getBookmarkArticles)
      folders.appendChild(categoryBtn)
    })
  })


</script>