<div class="folders">
</div>
<div class="bookmark_wrapper">
</div>

<script>
  let bookmarks = [];
  
  function createArticleStructure(article, bookmarkWrapper) {
  
    const articleContainer = document.createElement('div')
    const heading = document.createElement('h2')
    heading.textContent = article.headline.main
    const date = document.createElement('p')
    date.textContent = article.pub_date.slice(0, 10).replace(/-/g, " ")
    const para = document.createElement('p')
    para.textContent = article.lead_paragraph
    const anchor = document.createElement('a')
    anchor.setAttribute('href', article.web_url)
    anchor.textContent = "[...]"
    para.appendChild(anchor)
    articleContainer.appendChild(heading)
    articleContainer.appendChild(date)
    articleContainer.appendChild(para)
    bookmarkWrapper.appendChild(articleContainer)
  }
  
  // id("id1" "id2" "id3")
  
  function getArticleById(articleId, bookmarkWrapper) {
    fetch(`https://api.nytimes.com/svc/search/v2/articlesearch.json?fq=_id:${articleId}&api-key=EXHiMpBT0AdjyWCGX1Gbq7mygBVEMgfr&fbclid=IwAR1sRSz0MFrUI2-x6Vi5m6OlmSQzW2LcU8W_3aU0E3iHLx_z_PKmJCBJRWc`)
    .then(res => res.json())
    .then(data => {
      data.response.docs.forEach(article => {
      createArticleStructure(article, bookmarkWrapper)
      })
    })
  }
  
  
  function getBookmarkArticles(e) {
    const bookmarkWrapper = document.querySelector('.bookmark_wrapper')
    bookmarkWrapper.innerHTML = ""
    fetch(`/api/articles/bookmarks/categories?guest_name=${e.target.value}`)
    .then(res => res.json())
    .then(data => {
      var ids = data.map(article =>  `"${article.article_id}"`)
      getArticleById(`(${ids.join(" ")})`, bookmarkWrapper)
    })
  }
  
  fetch("/api/articles/bookmarks")
    .then(res => res.json())
    .then(data => {
      data.forEach(bookmark => {
        if(bookmarks.indexOf(bookmark.guest_name) === -1){
          bookmarks.push(bookmark.guest_name)
        }
      })
      bookmarks.forEach(folderName => {
        const folders = document.querySelector('.folders')
        const categoryBtn = document.createElement('button')
        categoryBtn.textContent = folderName
        categoryBtn.value = folderName
        categoryBtn.addEventListener('click', getBookmarkArticles)
        folders.appendChild(categoryBtn)
      })
    })
  
  fetch("/api/articles/bookmarks/categories?guest_name=My Articles")
    .then(res => res.json())
    .then(data => {
      const bookmarkWrapper = document.querySelector('.bookmark_wrapper')
      bookmarkWrapper.innerHTML = ""
      var ids = data.map(article =>  `"${article.article_id}"`)
      getArticleById(`(${ids.join(" ")})`, bookmarkWrapper)
    })
</script>
