<h1>Birthday News</h1>

<p>Hello! Welcome to Birthday News.</p>
<p>A website where you can view articles that were published on your birthday dating back to your year of birth.</p>


<%if logged_in? %>
<a href="/articles">Search articles based on my Birthday</a>
<div class="chooseDate">
  <form action="">
    <p>For someone else? Enter the date</p>
    <select id="years"></select>
    <select id="months"></select>
    <select id="days"></select>
   <button>go</button>
  </form>
</div>
<%else%>
<h2><a href="/log_in">Log In</a></h2>
<h2><a href="/sign_up">Sign Up</a></h2>
<%end%>

<script src="/javascripts/options.js"></script>