<div class="index">
<p>Hello! Welcome to Birthday News.</p>
<p>Have you ever wondered about what happened on your birthday 3 years ago? Or when you were born? This is a website where you can view articles that were published on your birthday dating back to your year of birth.</p>
</div>

<%if logged_in? %>
<a href="/articles/<%= current_user.id%>">Search articles based on my Birthday</a>
<div class="chooseDate">
  <form action="/articles">
    <p>For someone else? Select the date</p>
    <select name="year" id="years"></select>
    <select name="month" id="months"></select>
    <select name="day" id="days"></select>
   <button>go</button>
  </form>
</div>
<script src="/javascripts/options.js"></script>
<%else%>
<h2><a href="/log_in">Log In</a></h2>
<h2><a href="/sign_up">Sign Up</a></h2>
<%end%>
