<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <div class="banner">
    <i class="menu fas fa-bars fa-2x"></i>
    <h1>Birthday News</h1>
    <div>
      <%if logged_in? %>
      <span><%=current_user.firstname%></span>
      <%end%>
      <i class="user fas fa-user-circle fa-2x"></i>
    </div>
  </div>
  <div class="content">
    <ul class="menu_list hidden">
      <a href="/"><li>Home</li></a>
      <a href="/about"><li>about</li></a>
    </ul>
    <ul class="user_setting hidden">
      <a href="/"><li>My profile</li></a>
      <a href="/articles/bookmarks"><li>My Bookmarks</li></a>
      <a href="/about"><li>Edit profile</li></a>
      <a href="/signout"><li>Sign out</li></a>
    </ul>
    <%= yield %>
  </div>
</body>
  <script src="/javascripts/application.js"></script>
</html>