<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <div class="banner">
    <div class="main-icons">
      <%# <i class="menu fas fa-bars fa-2x"></i> %>
      <a href="/" class="home-icon">
        <i id="home-icon-id"class="fas fa-home fa-2x menu-icon"></i>
        <p class='home-menu'>Home</p>
      </a>

      <a href="/about" class="about-icon">
        <i id="about-icon-id" class="far fa-question-circle fa-2x menu-icon"></i>
        <p class='about-menu'>About</p>
      </a>

    </div>
    <h1>W.H.Y.B.</h1>
    <div class="user-box">
      <%if logged_in? %>
      <span><%=current_user.firstname%></span>
      <i style="color: <%= current_user.color %>;"class="user fas fa-user-circle fa-2x profile-icon"></i>
      <%else%>
      <span>Hello, Stranger!</span>
      <i class="user fas fa-user-circle fa-2x profile-icon"></i>
      <%end%>
    </div>
  </div>
  <div class="content_wrapper">
    <%if logged_in? %>
    <div class="user_setting hidden">
      <ul>
        <a href="/user"><li>My profile</li></a>
        <a href="/articles/bookmarks"><li>My Bookmarks</li></a>
        <a href="/user/edit"><li>Edit profile</li></a>
        <a href="/signout"><li>Sign out</li></a>
      </ul>
    </div>
    <%end%>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
  <script src="/javascripts/application.js"></script>
</html>