<form class="signup" action="/sign_up" method="post">
  <div>
    <label for="">firstname</label>
    <input name="firstname" type="text"/>
  </div>
  <div>
    <label for="">lastname</label>
    <input name="lastname" type="text"/>
  </div>
  <div>
    <label for="">year</label>
    <input name="birth_year" type="text" placeholder="ex) yyyy"/>
  </div>
  <div>
    <label for="">month</label>
    <input name="birth_month" type="text" placeholder="ex) mm"/>
  </div>
  <div>
    <label for="">day</label>
    <input name="birth_day" type="text" placeholder="ex) dd"/>
  </div>
  <div>
    <label for="">email</label>
    <input name="email" type="text"/>
  </div>
  <div>
    <label for="">password</label>
    <input name="password" type="text"/>
  </div>

  <button>submit</button>
</form>