<form action="/sign_up" method="post">

<label for="">firstname</label>
<input name="firstname" type="text">

<label for="">lastname</label>
<input name="lastname" type="text">

<label for="">birthdate</label>
<input name="birthdate" type="text">

<label for="">email</label>
<input name="email" type="text">

<label for="">password</label>
<input name="password" type="text">

<button>submit</button>

</form>