<form class="signup" action="/sign_up" method="post">
  <div>
    <label for="">First name</label>
    <input class="firstname" name="firstname" type="text"/>
  </div>
  <div>
    <label for="">Last name</label>
    <input class="lastname" name="lastname" type="text"/>
  </div>
  <div>
    <label for="">Brith year</label>
    <input class="birth_year" name="birth_year" type="text" placeholder="ex) yyyy"/>
  </div>
  <div>
    <label for="">Brith month</label>
    <input class="birth_month" name="birth_month" type="text" placeholder="ex) mm"/>
  </div>
  <div>
    <label for="">Brith day</label>
    <input class="birth_day" name="birth_day" type="text" placeholder="ex) dd"/>
  </div>
  <div>
    <label for="">Email</label>
    <input class="email" name="email" type="text"/>
  </div>
  <div>
    <label for="">Password</label>
    <input class="password" name="password" type="password"/>
  </div>

  <button>Submit</button>
</form>

<script src="/javascripts/signup.js"></script>