@import "/stylesheets/components/positionBar.css";
@import "/stylesheets/components/list.css";
@import "/stylesheets/pages/index.css";
@import "/stylesheets/pages/signup.css";
@import "/stylesheets/components/button.css";
@import "/stylesheets/pages/edit.css";

body{
  margin: 0;
  background-image: url("/images/flipboard-650225-unsplash.jpg");
  background-size: cover;
  color: white;
}

.banner {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(17, 71, 102);
  color: white
}

.banner h1 {
  margin: 0;
}


.content_wrapper {
  padding: 10px;
  padding-top: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-size: 100%;
  width: 70%;
  margin: 0 auto;
}

.content {
  flex: 1;
  margin-top: 20px;
}

.hidden {
  display: none;
}

i:hover {
  cursor: pointer;
}