

body {
  margin: 0;
}

.banner {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: orange;
}

.banner h1 {
  margin: 0;
}

.content {
  padding: 10px;
}

.hidden {
  display: none;
}

i:hover {
  cursor: pointer;
}