.combine_divs {
  display: flex;
  justify-content: space-evenly;
}

.user_icon {
  margin: 5em 0;
  width: 15%;
}

select {
  margin: 20px;
}

.edit div{
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit input {
  padding: 5px;
  width: 70%;
}

.edit_form {
  width: 50%;
} 

.btn {
  width: 70px;
  margin-right: 500px;
  margin-top: 20px;
}

.color {
  margin-bottom: 5px;
  padding: 10px;
}

.color:hover {
  background-color: rgb(17, 71, 102);
  color: white;
}