<h1 class="welcome">About the Creators</h1>

<div class="about-div">
    <div>
        <h3>Our Story</h3>
        <p>Birthday News was created by having a curiosity of knowing which pieces of history were taking place when we turn one year older.</p>
        <p>With everything happening in the present delivered to us at a rapid pace, its nice to take a detour and discover some stories that has been lost in time.</p>
        <p>This app provides a little personal touch by only showing you the events that took place on your birthday, tailoring your special day as a string of individual time capsules.</p>
        <p class="nyt">All News Information was provided by the <a href="https://www.nytimes.com/">New York Times</a>.</p>
    </div>
    <div class="team-members">
        <div class="profile-div">
            <h3 class="team-name">Hansol Kim</h3>
            <img class="profile-img" src="https://media.licdn.com/dms/image/C5103AQExYa7svU1biQ/profile-displayphoto-shrink_800_800/0?e=1556755200&v=beta&t=IfiiPsCNLtCpbl90KaPJWmE_4yMaNRuL8FVwn0Ym-38" alt="">
            <p class="team-title">Full-Stack Firecracker</p>
            <a class="github" href="https://github.com/HansolK"><i class="fab fa-github fa-2x"></i></a>
            <a class="linkedin" href="https://www.linkedin.com/in/hansol-kim1/"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>

        <div class="profile-div">
            <h3 class="team-name">Lena Seol</h3>
            <img class="profile-img" src="https://media.licdn.com/dms/image/C5603AQGBPwbI88sNLQ/profile-displayphoto-shrink_800_800/0?e=1556755200&v=beta&t=5A9xLHLI5CF3PjNkuVJ0i8AjPZ_BFym-5wqLItSGxno" alt="">
            <p class="team-title">Code Lover</p>
            <a class="github" href="https://github.com/lenaone"><i class="fab fa-github fa-2x"></i></a>
            <a class="linkedin" href="https://www.linkedin.com/in/lena-yeonhwa-seol/"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>

        <div class="profile-div">
            <h3 class="team-name">Daniel Marroquín</h3>
            <img class="profile-img" src="https://media.licdn.com/dms/image/C5603AQFp2tZ8VW6Gqw/profile-displayphoto-shrink_200_200/0?e=1556755200&v=beta&t=uEL5j17Q567kb19p62C2XS61lSNUqpfzh7eb21fHl1k" alt="">
            <p class="team-title">Web Designer</p>
            <a class="github" href="https://github.com/roqdraw"><i class="fab fa-github fa-2x"></i></a>
            <a class="linkedin" href="https://www.linkedin.com/in/daniel-marroquin/"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
    </div>
</div>
    <p>Assembled at <a href="https://generalassemb.ly/?&where=melbourne&topic=&mkt_account_id=1056949875&mkt_campaign_id=691768967&mkt_ad_group_id=36416209100&mkt_device_type=c&mkt_keyword=general%20assembly&mkt_matchtype=e&mkt_placement=&mkt_ad_id=155687927170&mkt_network=g&mkt_target_id=kwd-459322816&mkt_feed_item_id=&utm_source=google&utm_medium=paid-search-bra&utm_campaign=TS:TX:BRA:MEL:BR:GeneralAssembly&utm_content=campus-lead-lander&utm_term=general%20assembly&gclid=Cj0KCQiAwc7jBRD8ARIsAKSUBHLOGunSIC1ott_LTVNR2-eSc3lzXh93mLj7zxTo8M9Zshc6XG9O0eIaAkvNEALw_wcB">
    General Assembly Melbourne.</a></p>