<i class="loading fas fa-spinner fa-5x"></i>
<div class="folders">
</div>

<div class="bookmark_wrapper">
</div>
<script>
  let bookmarks = [];
  
  function createArticleStructure(article, bookmarkWrapper) {
    bookmarkWrapper = document.querySelector('.bookmark_wrapper')

    var bookmarkContainer = document.createElement('div')
    bookmarkContainer.classList.add('.bookmark-container')
    bookmarkWrapper.appendChild(bookmarkContainer)

    var displayArticle = document.createElement('div')
    displayArticle.classList.add("display-article")
    bookmarkContainer.appendChild(displayArticle)

    var articleTop = document.createElement('div');
    articleTop.classList.add("article-top");
    displayArticle.appendChild(articleTop)

    var articleBottom = document.createElement('div');
    articleBottom.classList.add("article-bottom");
    displayArticle.appendChild(articleBottom)

    var articleHeader = document.createElement('div');
    articleHeader.classList.add("article-header");
    articleBottom.appendChild(articleHeader)

    var articleTitle = document.createElement('h4')
    articleTitle.textContent = article.headline.main
    articleHeader.appendChild(articleTitle)

    var articleDate = document.createElement('p')
    articleDate.textContent = article.pub_date.slice(0, 10).replace(/-/g, " ")
    articleDate.classList.add("article-date");
    articleTop.appendChild(articleDate)

    var articleSummary = document.createElement('p')
    articleSummary.textContent = article.lead_paragraph
    articleBottom.appendChild(articleSummary)

    var articleLink = document.createElement('a')
    articleLink.setAttribute('href', article.web_url)
    articleLink.textContent = "[...]"
    articleSummary.appendChild(articleLink)
  }
  
  function getArticleById(articleId, bookmarkWrapper) {
    fetch(`https://api.nytimes.com/svc/search/v2/articlesearch.json?fq=_id:${articleId}&api-key=uzhiChWGnnVDUYfkdiWIdSA6oXxHyV5I&fbclid=IwAR1sRSz0MFrUI2-x6Vi5m6OlmSQzW2LcU8W_3aU0E3iHLx_z_PKmJCBJRWc`)
    .then(res => res.json())
    .then(data => {
      fetch("/api/articles/bookmarks")
      .then(res => res.json())
      .then(bookmarksData => {
        bookmarksData.forEach(bookmark => {
          if(bookmarks.indexOf(bookmark.guest_name) === -1){
            bookmarks.push(bookmark.guest_name)
        }
      })
      const loading = document.querySelector('.loading')
      loading.classList.add('hidden')
      console.log(data)
      data.response.docs.forEach(article => {
      createArticleStructure(article, bookmarkWrapper)
      })

      bookmarks.forEach(folderName => {
        const folders = document.querySelector('.folders')
        const categoryBtn = document.createElement('button')
        categoryBtn.textContent = folderName
        categoryBtn.value = folderName
        categoryBtn.addEventListener('click', getBookmarkArticles)
        folders.appendChild(categoryBtn)
      })
    })
     
    })
  }
  
  function getBookmarkArticles(e) {
    const bookmarkWrapper = document.querySelector('.bookmark_wrapper')
    const folders = document.querySelector('.folders')
    folders.innerHTML = ""
    bookmarkWrapper.innerHTML = ""
    fetch(`/api/articles/bookmarks/categories?guest_name=${e.target.value}`)
    .then(res => res.json())
    .then(data => {
      var ids = data.map(article =>  `"${article.article_id}"`)
      getArticleById(`(${ids.join(" ")})`, bookmarkWrapper)
    })
  }
  
  fetch("/api/articles/bookmarks/categories?guest_name=My Articles")
    .then(res => res.json())
    .then(data => {
      const bookmarkWrapper = document.querySelector('.bookmark_wrapper')
      bookmarkWrapper.innerHTML = ""
      var ids = data.map(article =>  `"${article.article_id}"`)
      getArticleById(`(${ids.join(" ")})`, bookmarkWrapper)
    })

</script>
