button {
  width: 80px;
  height: 30px;
  padding: 2px;
  margin-right: 10px;
  border-radius: 25px 25px;
  margin-bottom: 20px;

}

.next, .previous {
  color: rgb(17, 71, 102);
  padding: 2%;
  border-radius: 20px;
  cursor: pointer;
}

.hidden-one {
  opacity: 0;
}

#no-next {
  color: rgba(17, 71, 102, 0.5);
  cursor: not-allowed;
}

#no-previous {
  color: rgba(17, 71, 102, 0.5);
  cursor: not-allowed;
}