
.display-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-top {
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 71, 102);
  color: white;
  padding: 0 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.article-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(228, 221, 221);
  padding: 10px 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1)
}

.article-headings {
  display: flex;
  flex-direction: column;
}

.article-title {
  margin-bottom: 1px;
}
.article-result {
  width: 80%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.content_wrapper .next, .content_wrapper .previous {
  width: 1em
}

.fade {
  opacity: 0.5;

}

