.signup div {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.signup input {
  padding: 5px;
  width: 70%;
}


.signupForm {
  width: 50%;
} 

.btn {
  width: 50px;
  margin-right: 500px;
  margin-top: 20px;
}

.color {
  margin-bottom: 5px;
  padding: 10px;
}

.color:hover {
  margin-bottom: 5px;
  background-color: rgb(17, 71, 102);
  color: white;
}